.githubButton {
  background-color: rgb(0, 0, 0);
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  color: var(--white);
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding: 10px 25px;
}
.githubButton:hover {
  background-color: #ffffff;
  color: var(--black);
  border: 1px solid black;
}

.githubButton[data-variant="sign-out"] {
  background: var(--orange);
  color: var(--white);
}

.githubButton[data-variant="sign-out"]:hover {
  background: var(--white);
  color: var(--orange);
  border: 1px solid var(--orange);
}
