.githubButton {
  background-color: rgb(0, 0, 0);
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  color: var(--white);
  font-size: 16px;
  cursor: pointer;
  width: 70px;
  transition: all 0.2s ease-in-out;
}
.githubButton:hover {
  background-color: #ffffff;
  color: var(--black);
}

.githubButton[data-variant="sign-out"] {
  background: var(--orange);
  color: var(--white);
}

.githubButton[data-variant="sign-out"]:hover {
  background: var(--white);
  color: var(--orange);
}
