html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
:root {
  --black: #000;
  --orange: rgb(168, 93, 32);
  --white: #fff;
  --supabase-green: #17b951;
  --bx-shadow-light: rgba(17, 147, 71, 0.29);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
